.switch {
  position: relative;
  display: inline-block;
  width: 95px;
  height: 45px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7c7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #169F85;
}

input:disabled + .slider {
  background-color: #b1afaf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #169F85;
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}

/* Rounded sliders */
.slider.slider-round {
  border-radius: 34px;
}

.slider.slider-round:before {
  border-radius: 50%;
}
.breadcumb-dark {
  color: #666666;
}
.breadcumb-dark:hover{
  color: #424242;
}
.move-right {
	margin-right: 5px;
}